/*CSS STYLE LIST*/
body
{
	margin-top:50px;
	font-size:25px;
}
ul 
{
	list-style-type:none;
	background-color:blue;
	width:50%;
	padding:30px 40px
}
ul li
{
	background-color: gold;
	margin:10px;
	padding:3px;
}
ul li:hover
{
	color:white;
	background-color:red;
	text-decoration:underline;
}
	

ol 
{
	list-style-type:upper-roman;
	background-color:green;
	width:50%;
	padding:5px;
}
ol li
{
	background-color:brown;
	margin:10px;
	padding:5px;
}
ol li:hover
{
	color:white;
	background-color:purple;
	text-decoration:underline;
}
